@model ITest.Areas.Admin.Models.AdminViewModels.AllTestsResultsViewModel

@{
    ViewData["Title"] = "TestResultsPartial";
}

<table class="table table-striped custab" id="results-table">
    <thead>
        <tr>
            <th>Test Name</th>
            <th>User Email</th>
            <th>Category</th>
            <th>Reuqested Time</th>
            <th>Execution Time</th>
            <th>Results</th>
            <th>Passed/Failed</th>
        </tr>
    </thead>
    @{
        if (Model.AllTestsResults.Any())
        {
            foreach (var test in Model.AllTestsResults)
            {
                <tr class="test-row">
                    <td>@test.TestName</td>
                    <td>@test.UserEmail</td>
                    <td>@test.CategoryName</td>
                    <td>@test.RequestedTime</td>
                    <td>@string.Format("{0}:{1}:{2}", @test.ExecutionTime.Hours, @test.ExecutionTime.Minutes, @test.ExecutionTime.Seconds)</td>
                    @if (@test.Score == 0.1)
                    {
                        <td>0</td>
                    }
                    else
                    {
                        <td>@test.Score</td>
                    }
                    if(@test.Score>=80)
                    {
                    <td>Passed</td>
                    }
                    else
                    {
                    <td>Failed</td>
                    }
                </tr>
            }
        }
    }

</table>